/* Defines the light style class */
.light {
  /* Set the font color to black */
  color: black;
  /* Set the background color to white */
  background-color: white;
}

/* Set the color for a link to blue */
.light a:hover {
  color: blue;
}

/* Set the color for a visited link to purple */
.light a:visited {
  color: purple;
}

/* Defines the dark style class */
.dark {
  /* Set the font color to white */
  color: white;
  /* Set the background color to black */
  background-color: black;
}

/* Set the color for a link to blue */
.dark a:hover {
  color: blue;
}

/* Set the color for a visited link to a shade of purple */
.dark a:visited {
  color: rgb(143, 83, 255);
}

.feature-box {
  padding: 20px;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

/* Sets the CSS properties for the div element with the id=loadOverlay */
div#loadOverlay {
  position: relative; 
  z-index: 1; 
  top: -125px;
  left: 0;
  width: 100%; 
  height: 100px; 
  background-color: rgba(53, 39, 228, 0.5); 
  text-align: center;
  padding-top: 25px;
  border: solid;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

/* Sets the CSS properties for the div element with the id=closeButton */
div#closeButton { 
  position: absolute;
  width: 40px;
  background-color: rgba(215, 213, 242, 0.5); 
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding: 5px;
  border: solid;
  font-size: medium;
}

/* Changes the background color of the closeButton div element when the mouse hovers over it */
div#closeButton:hover { 
  background-color: rgba(69, 59, 204, 0.5); 
}

/* Define the CSS properties of the tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Define the CSS properties of the tooltip text */
.tooltiptext {
  visibility: hidden; /* Makes sure the tooltip is hidden by default */
  width: 130px;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  background-color: rgb(63, 23, 166);
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Make sure the tooltip is displayed above the rest of the page elements */
}

/* Shows the tooltip text when hovering over the tooltip element */
.tooltip:hover .tooltiptext {
  visibility: visible;
}